<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Meow{% endblock %}</title>
  <link rel="shortcut icon" type="image/gif" href="{{ url_for('static', filename='img/favicon32x32RGBA.gif') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/lottie.js') }}" type="text/javascript"></script>
</head>
<body>
  <div class="header">
    <h1>{% block header %}My Business Card{% endblock %}</h1>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <div class="footer">
    <a href="https://github.com/RobertMeow" target="_blank">
      <img src="{{ url_for('static', filename='img/gh.webp') }}" alt="GitHub" width="32" height="32">
    </a>
    <a href="https://robert_meow.t.me" target="_blank">
        <img src="{{ url_for('static', filename='img/tg.webp') }}" alt="Telegram" width="32" height="32">
    </a>
  </div>

</body>
</html>
