{% extends "base.html" %}

{% block title %}API Documentation{% endblock %}
{% block header %}API Documentation{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hljs.css') }}"/>
<script src="{{ url_for('static', filename='js/hljs.js') }}"></script>
<script src="{{ url_for('static', filename='js/hljs-go.js') }}"></script>
<script src="{{ url_for('static', filename='js/hljs-line-n.js') }}"></script>
<script src="{{ url_for('static', filename='js/hljs-copy.js') }}"></script>
<script src="{{ url_for('static', filename='js/copyText.js') }}"></script>
<script>
    hljs.addPlugin(new CopyButtonPlugin());
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();

    function toggleMethod(methodName) {
      const methodDiv = document.getElementById(methodName);
      methodDiv.classList.toggle("hidden");
    }
</script>

<div class="container">
  <p>Welcome to my little API documentation. Below you will find a list of available API methods and examples of their use.</p><br>
  <h2>Endpoint</h2>
  <p>Our API endpoint is located at <code onclick="copyTextElement(this)">https://api.berht.dev</code>. At the moment, the most up-to-date version of the API==2</p><br>
  <h2>Authentication</h2>
  <p>For authorization, you must specify <code onclick="copyTextElement(this)">access_token</code> as a parameter, you can get it <a href="https://vk.com/im?sel=-210709215">here</a>. If you do not specify <code onclick="copyTextElement(this)">access_token</code>, then the limits will be very strict.</p><br>
  <h2>API Methods</h2>
  <ul>
    {% for methodName, methodData in apiMethods.items() %}
      <li>
        <h3 onclick="toggleMethod('{{ methodName }}')">{{ methodName }}</h3>
          <div class="hidden" id="{{ methodName }}">
            <p>{{ methodData.description }}</p>
            <pre class="hljs">
              <code class="language-python">{{ methodData.code }}</code>
            </pre>
            <h3>Output:</h3>
            <pre class="hljs">
              <code class="language-json">{{ methodData.output }}</code>
            </pre>
          </div>

      </li>
    {% endfor %}
    <p>More methods will be added soon.</p>
  </ul>
</div>
{% endblock %}
