{% extends "base.html" %}

{% block content %}
<div class="card">
  <p style="color: #FFFFFF;">I am a backend developer with experience in Python, C++, and SQL. I have worked on a variety of projects ranging from REST APIs to data processing pipelines. My goal is to build scalable and reliable systems that can handle high volumes of traffic and data.</p>
  <div id="chart-container" style="display:none;">
    <a href="/api-docs">1. API Documentation</a><br>
    <a href="https://github.com/RobertMeow/VKTokenMaster/releases/tag/v1.0.0%2B1.31">2. Getting VKToken</a><br>
    <a href="/donate">3. Donate</a>
  </div>
  <button class="button" id="expand-button">Useful</button>

  <script>
    function expandChart() {
      document.getElementById("chart-container").style.display = "block";
      const button = document.getElementById("expand-button");
      button.parentNode.removeChild(button);
    }

    document.getElementById("expand-button").addEventListener("click", expandChart);
  </script>
</div>

<div class="animation">
  <img src="static/stickers/preview/{{ sticker_preview }}" id="previewImage" alt="">
  <div id="animationContainer"></div>
</div>

<script>
  const animation = lottie.loadAnimation({
    container: document.getElementById("animationContainer"),
    renderer: "svg",
    loop: true,
    autoplay: true,
    path: "static/stickers/lottie/{{ sticker_lottie }}",
    rendererSettings: {
      preserveAspectRatio: "xMidYMid slice",
    },
  });

  animation.addEventListener("DOMLoaded", function () {
    document.getElementById('previewImage').style.display = 'none';
    animation.play();
  });
</script>
{% endblock %}

